@use '../../foundation/_variable' as *;
@use '../../foundation/_mixin' as *;
@use '../../foundation/_keyframes' as *;

.c-flash {
  display: none;
  position: absolute;
  top: $header-height;
  width: 100%;
  box-shadow: $shadow;
  overflow: hidden;
  &__message {
    padding: 10px 15px;
    &--success {
      color: $emerald;
      background-color: $emerald-alfa;
    }
    &--error {
      color: $rose;
      background-color: $rose-alfa;
    }
  }
}