@use '../../foundation/_variable' as *;
@use '../../foundation/_mixin' as *;
@use '../../foundation/_keyframes' as *;

.c-textBox {
  width: 100%;
  @include flex();
  &--center {
    align-items: center;
    justify-content: center;
  }
}