/*!**************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[1].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[1].use[3]!./resources/scss/style.scss ***!
  \**************************************************************************************************************************************************************************************************************************************************/
@charset "UTF-8";
/*==================================
Foundation
==================================*/
body, html {
  color: #444;
  line-height: 1.6;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
          text-size-adjust: 100%;
  background-color: #fff;
  font-family: "Roboto flex", sans-serif;
  font-size: 62.5%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

fieldset {
  border: none;
}

/* resset.dev • v5.0.2 */
/* # =================================================================
   # Global selectors
   # ================================================================= */
html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%; /* Prevent adjustments of font size after orientation changes in iOS */
  word-break: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

*,
::before,
::after {
  background-repeat: no-repeat; /* Set `background-repeat: no-repeat` to all elements and pseudo elements */
  box-sizing: inherit;
}

::before,
::after {
  text-decoration: inherit; /* Inherit text-decoration and vertical align to ::before and ::after pseudo elements */
  vertical-align: inherit;
}

* {
  padding: 0; /* Reset `padding` and `margin` of all elements */
  margin: 0;
}

/* # =================================================================
   # General elements
   # ================================================================= */
hr {
  overflow: visible; /* Show the overflow in Edge and IE */
  height: 0; /* Add the correct box sizing in Firefox */
  color: inherit; /* Correct border color in Firefox. */
}

details,
main {
  display: block; /* Render the `main` element consistently in IE. */
}

summary {
  display: list-item; /* Add the correct display in all browsers */
}

small {
  font-size: 80%; /* Set font-size to 80% in `small` elements */
}

[hidden] {
  display: none; /* Add the correct display in IE */
}

abbr[title] {
  border-bottom: none; /* Remove the bottom border in Chrome 57 */
  /* Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari */
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

a {
  background-color: transparent; /* Remove the gray background on active links in IE 10 */
}

a:active,
a:hover {
  outline-width: 0; /* Remove the outline when hovering in all browsers */
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace; /* Specify the font family of code elements */
}

pre {
  font-size: 1em; /* Correct the odd `em` font sizing in all browsers */
}

b,
strong {
  font-weight: bolder; /* Add the correct font weight in Chrome, Edge, and Safari */
}

/* https://gist.github.com/unruthless/413930 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  border-color: inherit; /* Correct border color in all Chrome, Edge, and Safari. */
  text-indent: 0; /* Remove text indentation in Chrome, Edge, and Safari */
}

iframe {
  border-style: none;
}

/* # =================================================================
   # Forms
   # ================================================================= */
input {
  border-radius: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto; /* Correct the cursor style of increment and decrement buttons in Chrome */
}

[type=search] {
  -webkit-appearance: textfield; /* Correct the odd appearance in Chrome and Safari */
  outline-offset: -2px; /* Correct the outline style in Safari */
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; /* Remove the inner padding in Chrome and Safari on macOS */
}

textarea {
  overflow: auto; /* Internet Explorer 11+ */
  resize: vertical; /* Specify textarea resizability */
}

button,
input,
optgroup,
select,
textarea {
  font: inherit; /* Specify font inheritance of form elements */
}

optgroup {
  font-weight: bold; /* Restore the font weight unset by the previous rule */
}

button {
  overflow: visible; /* Address `overflow` set to `hidden` in IE 8/9/10/11 */
}

button,
select {
  text-transform: none; /* Firefox 40+, Internet Explorer 11- */
}

/* Apply cursor pointer to button elements */
button,
[type=button],
[type=reset],
[type=submit],
[role=button] {
  cursor: pointer;
}

/* Remove inner padding and border in Firefox 4+ */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/* Replace focus style removed in the border reset above */
button:-moz-focusring,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  outline: 1px dotted ButtonText;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button; /* Correct the inability to style clickable types in iOS */
}

/* Remove the default button styling in all browsers */
button,
input,
select,
textarea {
  background-color: transparent;
  border-style: none;
}

a:focus,
button:focus,
input:focus,
select:focus,
textarea:focus {
  outline-width: 0;
}

/* Style select like a standard input */
select {
  -moz-appearance: none; /* Firefox 36+ */
  -webkit-appearance: none; /* Chrome 41+ */
}

select::-ms-expand {
  display: none; /* Internet Explorer 11+ */
}

select::-ms-value {
  color: currentColor; /* Internet Explorer 11+ */
}

legend {
  border: 0; /* Correct `color` not being inherited in IE 8/9/10/11 */
  color: inherit; /* Correct the color inheritance from `fieldset` elements in IE */
  display: table; /* Correct the text wrapping in Edge and IE */
  max-width: 100%; /* Correct the text wrapping in Edge and IE */
  white-space: normal; /* Correct the text wrapping in Edge and IE */
  max-width: 100%; /* Correct the text wrapping in Edge 18- and IE */
}

::-webkit-file-upload-button {
  /* Correct the inability to style clickable types in iOS and Safari */
  -webkit-appearance: button;
  color: inherit;
  font: inherit; /* Change font properties to `inherit` in Chrome and Safari */
}

/* Replace pointer cursor in disabled elements */
[disabled] {
  cursor: default;
}

/* # =================================================================
   # Specify media element style
   # ================================================================= */
img {
  border-style: none; /* Remove border when inside `a` element in IE 8/9/10 */
}

/* Add the correct vertical alignment in Chrome, Firefox, and Opera */
progress {
  vertical-align: baseline;
}

/* # =================================================================
   # Accessibility
   # ================================================================= */
/* Specify the progress cursor of updating elements */
[aria-busy=true] {
  cursor: progress;
}

/* Specify the pointer cursor of trigger elements */
[aria-controls] {
  cursor: pointer;
}

/* Specify the unstyled cursor of disabled, not-editable, or otherwise inoperable elements */
[aria-disabled=true] {
  cursor: default;
}

/*==================================
Layout
==================================*/
.l-header {
  position: sticky;
  top: 0;
  height: 50px;
  z-index: 50;
  background-color: #fff;
}
.l-header--center {
  padding-top: 40px;
  height: 150px;
  position: relative;
  background-color: #f8f8f8;
}
.l-header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 0px;
  height: 100%;
  padding: 0 15px;
}
.l-header__inner--center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 0px;
}
.l-header__logo {
  height: 100%;
}
.l-header__logo a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 0px;
  height: 100%;
}
@media screen and (max-width: 768px) {
  .l-header {
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.08), 3px 3px 18px rgba(0, 0, 0, 0.02);
  }
  .l-header--center {
    box-shadow: none;
  }
}

.l-container {
  display: grid;
  grid-template-columns: 75px 1fr;
}
.l-container--col1 {
  grid-template-columns: 1fr;
}
@media screen and (max-width: 768px) {
  .l-container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    gap: 0px;
  }
}

.l-globalNav {
  position: sticky;
  top: 50px;
  left: 0;
  height: calc(100dvh - 50px);
  z-index: 50;
}
.l-globalNav nav {
  padding: 0 4px;
}
.l-globalNav nav ul {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 4px;
}
.l-globalNav nav ul li {
  width: 100%;
}
.l-globalNav nav ul li a {
  width: 100%;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 4px;
  font-size: 0.7rem;
  line-height: 1;
  letter-spacing: 0.08rem;
  font-weight: 400;
  transition: all 0.3s ease-out 0s;
  color: #999;
  border-radius: 5px;
}
.l-globalNav nav ul li a:hover {
  color: #444;
}
.l-globalNav nav ul li a.current {
  color: #00669C;
  background: linear-gradient(80deg, rgba(136, 222, 208, 0.13), rgba(54, 172, 197, 0.13) 50%, rgba(2, 126, 191, 0.13));
}
@media screen and (max-width: 768px) {
  .l-globalNav {
    background-color: #fff;
    position: sticky;
    bottom: 0;
    width: 100%;
    height: 70px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.12), 3px 3px 20px rgba(0, 0, 0, 0.05);
  }
  .l-globalNav nav {
    padding: 4px;
    height: 100%;
  }
  .l-globalNav nav ul {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 4px;
    height: 100%;
  }
  .l-globalNav nav ul li {
    width: calc(20% - 0.8px);
    height: 100%;
  }
  .l-globalNav nav ul li a {
    height: 100%;
  }
}

.l-main {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 0px;
  background-color: #f8f8f8;
}
.l-main__head {
  width: 100%;
  padding: 20px 15px 10px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 0px;
  background-color: #f8f8f8;
}
.l-main__head--center {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 0px;
}
.l-main__body {
  width: 100%;
  padding: 0 15px 50px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 10px;
}
.l-main__body--full {
  flex: 1;
}
.l-main--full {
  width: 100%;
  min-height: calc(100vh - 150px);
}
@media screen and (max-width: 768px) {
  .l-main {
    width: 100%;
    min-height: calc(100dvh - 50px - 70px);
  }
  .l-main--full {
    min-height: calc(100vh - 150px);
  }
  .l-main__body {
    padding: 0 0 50px;
  }
  .l-main__body--info {
    padding: 0 0 100px;
  }
  .l-main__body--full {
    padding: 0;
  }
}

/*==================================
Component
==================================*/
.c-menu {
  position: relative;
}
.c-menu__btn {
  display: block;
  width: 32px;
  height: 32px;
  position: relative;
}
.c-menu__btn span {
  display: block;
  width: 24px;
  height: 2px;
  position: absolute;
  top: 50%;
  left: 4px;
  transform: translateY(-50%);
  border-radius: 1px;
  background-color: #444;
  transition: all 0.3s ease-out 0s;
}
.c-menu__btn::before {
  content: "";
  display: block;
  width: 24px;
  height: 2px;
  position: absolute;
  top: 7px;
  left: 4px;
  border-radius: 1px;
  background-color: #444;
  transition: all 0.3s ease-out 0s;
}
.c-menu__btn::after {
  content: "";
  display: block;
  width: 24px;
  height: 2px;
  position: absolute;
  bottom: 7px;
  left: 4px;
  border-radius: 1px;
  background-color: #444;
  transition: all 0.3s ease-out 0s;
}
.c-menu__btn.is-open {
  z-index: 2;
}
.c-menu__btn.is-open span {
  opacity: 0;
}
.c-menu__btn.is-open::before {
  transform: translateY(8px) rotate(45deg);
}
.c-menu__btn.is-open::after {
  transform: translateY(-8px) rotate(-45deg);
}
.c-menu__target {
  overflow: hidden;
  position: absolute;
  top: 1px;
  right: 2px;
  width: 275px;
  padding-top: 50px;
  background-color: #fff;
  border: 1px solid #eee;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.08), 3px 3px 18px rgba(0, 0, 0, 0.02);
  z-index: 1;
  border-radius: 4px;
  visibility: hidden;
  opacity: 0;
  transform: scale(0);
  transform-origin: top right;
  transition: all 0.3s ease-out 0s;
}
.c-menu__target.is-open {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}
.c-menu__item:not(:last-child) {
  border-bottom: 1px solid #eee;
}
.c-menu__item a {
  color: #444;
  width: 100%;
  height: 42px;
  font-size: 1.2rem;
  line-height: 1;
  letter-spacing: 0.08rem;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 0px;
  transition: all 0.3s ease-out 0s;
}
.c-menu__item a:hover {
  background-color: #E5FBF7;
}
.c-menu__name {
  border-bottom: 1px solid #eee;
}
.c-menu__bg {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100dvh;
  background-color: rgba(34, 34, 34, 0.1);
  z-index: 0;
  -webkit-backdrop-filter: blur(0.5px);
          backdrop-filter: blur(0.5px);
}
.c-menu__bg.is-open {
  display: block;
}

.c-list {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px;
}
@media screen and (max-width: 768px) {
  .c-list {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 5px;
  }
}

.c-card {
  width: calc(50% - 5px / 2);
}
@media screen and (max-width: 768px) {
  .c-card {
    width: 100%;
  }
}
.c-card__content {
  position: relative;
  background-color: #fff;
  border: 1px solid #eee;
  border-radius: 5px;
  width: 100%;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.08), 3px 3px 18px rgba(0, 0, 0, 0.02);
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 0px;
  overflow: hidden;
  z-index: 1;
}
@media screen and (max-width: 768px) {
  .c-card__content {
    border: none;
    border-radius: 0;
  }
}
.c-card__bg {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100dvh;
  z-index: 0;
}
.c-card__body {
  padding: 15px 15px 10px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 5px;
}
.c-card__foot {
  width: 100%;
  border-top: 1px solid #eee;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 0px;
}
.c-card__time {
  font-size: 1.2rem;
  line-height: 1;
  letter-spacing: 0.04rem;
  font-weight: 400;
}
.c-card__title {
  font-size: 1.4rem;
  line-height: 1;
  letter-spacing: 0.06rem;
  font-weight: 700;
}
.c-card__btn {
  flex: 1;
  display: block;
}
.c-card__btn a, .c-card__btn button {
  height: 36px;
  width: 100%;
  color: #222;
  padding-right: 6px;
  border-right: 1px solid #eee;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 2px;
  font-size: 1.2rem;
  line-height: 1;
  letter-spacing: 0.04rem;
  font-weight: 400;
  transition: all 0.3s ease-out 0s;
}
.c-card__btn a:hover, .c-card__btn button:hover {
  background-color: #E5FBF7;
}
.c-card__btn--export {
  background: linear-gradient(80deg, rgba(136, 222, 208, 0.13), rgba(54, 172, 197, 0.13) 50%, rgba(2, 126, 191, 0.13));
}
.c-card__btn--export a, .c-card__btn--export button {
  color: #00669C;
}
.c-card__btn--delete {
  display: block;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.92), rgba(255, 247, 247, 0.92) 50%, rgba(255, 239, 241, 0.92));
}
.c-card__btn--delete a, .c-card__btn--delete button {
  color: #F04D62;
}
@media screen and (max-width: 768px) {
  .c-card__btn--delete {
    display: none;
  }
}

.c-label {
  font-size: 1.2rem;
  line-height: 1;
  letter-spacing: 0.04rem;
  font-weight: 400;
  color: #999;
}

.c-title {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 6px;
}
.c-title h1 {
  font-family: "BIZ UDPGothic", sans-serif;
  font-size: 1.8rem;
  line-height: 1;
  letter-spacing: 0.08rem;
  font-weight: 700;
}
.c-title p {
  font-size: 1rem;
  line-height: 1;
  letter-spacing: 0.04rem;
  font-weight: 400;
  background: linear-gradient(80deg, #88DED0, #36ACC5 50%, #027EBF);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}
.c-title--center {
  align-items: center;
}

.c-btn a, .c-btn button, .c-btn input[type=submit] {
  font-size: 1.4rem;
  line-height: normal;
  letter-spacing: 0.04rem;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 8px;
  padding: 0 20px;
  height: 32px;
  border-radius: 16px;
  position: relative;
}
.c-btn--create a, .c-btn--create button {
  min-width: 140px;
  color: #fff;
  background: linear-gradient(80deg, #88DED0, #36ACC5 50%, #027EBF);
  padding: 0 32px 0 20px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.08), 3px 3px 18px rgba(0, 0, 0, 0.02);
  transition: all 0.3s ease-out 0s;
}
.c-btn--create a::before, .c-btn--create a::after, .c-btn--create button::before, .c-btn--create button::after {
  content: "";
  position: absolute;
  right: 30px;
  display: block;
  width: 10px;
  height: 1px;
  border-radius: 1px;
  background-color: #fff;
}
.c-btn--create a::after, .c-btn--create button::after {
  transform: rotate(-90deg);
}
.c-btn--create a:hover, .c-btn--create button:hover {
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.12), 3px 3px 20px rgba(0, 0, 0, 0.05);
}
.c-btn--primary a, .c-btn--primary button, .c-btn--primary input[type=submit] {
  color: #fff;
  background: linear-gradient(80deg, #88DED0, #36ACC5 50%, #027EBF);
  width: 150px;
  transition: all 0.3s ease-out 0s;
}
.c-btn--primary a:hover, .c-btn--primary button:hover, .c-btn--primary input[type=submit]:hover {
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.12), 3px 3px 20px rgba(0, 0, 0, 0.05);
}
.c-btn--frame a, .c-btn--frame button, .c-btn--frame input[type=submit] {
  color: #36ACC5;
  background: #fff;
  border: 1px solid #36ACC5;
  width: 150px;
  transition: all 0.3s ease-out 0s;
}
.c-btn--frame a:hover, .c-btn--frame button:hover, .c-btn--frame input[type=submit]:hover {
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.12), 3px 3px 20px rgba(0, 0, 0, 0.05);
}
.c-btn--center {
  width: 100%;
}
.c-btn--center a, .c-btn--center button, .c-btn--center input[type=submit] {
  margin: auto;
}
.c-btn--cansel a, .c-btn--cansel button, .c-btn--cansel input[type=submit] {
  color: #999;
}
.c-btn--delete a, .c-btn--delete button, .c-btn--delete input[type=submit] {
  background-color: #F04D62;
  color: #fff;
  width: 150px;
  transition: all 0.3s ease-out 0s;
}
.c-btn--delete a:hover, .c-btn--delete button:hover, .c-btn--delete input[type=submit]:hover {
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.12), 3px 3px 20px rgba(0, 0, 0, 0.05);
}

.c-pager {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 0px;
}
.c-pager--end {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 0px;
}
.c-pager__count {
  color: #999;
  font-size: 1.3rem;
  line-height: normal;
  letter-spacing: 0.06rem;
  font-weight: 400;
}
.c-pager__list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 4px;
}
.c-pager__link {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 0px;
  font-size: 1.3rem;
  line-height: 1;
  letter-spacing: 0.06rem;
  font-weight: 400;
  transition: all 0.3s ease-out 0s;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  color: #999;
}
.c-pager__link[disabled] {
  pointer-events: none;
  opacity: 0.3;
}
.c-pager__link:hover {
  background-color: #eee;
}
.c-pager__link--active {
  color: #fff;
  background-color: #36ACC5;
  pointer-events: none;
}
@media screen and (max-width: 768px) {
  .c-pager {
    padding: 0 15px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 4px;
  }
  .c-pager--end {
    justify-content: center;
    padding: 0 15px;
  }
  .c-pager--pc .c-pager__list {
    display: none;
  }
}

.c-user {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 10px;
  padding: 10px 0;
}
.c-user__img {
  background-color: #ddd;
  width: 36px;
  height: 36px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 0px;
}
.c-user__name {
  font-size: 1.6rem;
  line-height: 1;
  letter-spacing: 0.08rem;
  font-weight: 400;
}

.c-section {
  width: 100%;
}
.c-section--max {
  max-width: 430px;
  margin: 0 auto;
}
.c-section__inner {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 15px;
}

.c-box {
  padding: 20px 15px 30px;
  background-color: #fff;
  border: 1px solid #eee;
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.08), 3px 3px 18px rgba(0, 0, 0, 0.02);
  width: 100%;
}
.c-box--wide {
  padding: 30px 30px 40px;
}
.c-box__inner {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 20px;
}
@media screen and (max-width: 768px) {
  .c-box {
    border-radius: 0;
  }
}

.c-form {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 15px;
}
.c-form:not(:last-child) {
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}
.c-form__title {
  width: 150px;
  color: #027EBF;
  font-size: 1.6rem;
  line-height: 1;
  letter-spacing: 0.08rem;
  font-weight: 600;
}
.c-form__group {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 15px;
}
.c-form__input {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 5px;
}
.c-form__label {
  font-size: 1.4rem;
  line-height: 1;
  letter-spacing: 0.08rem;
  font-weight: 600;
}
@media screen and (max-width: 768px) {
  .c-form__title {
    width: 100%;
  }
  .c-form__group {
    flex: initial;
  }
}

.c-input {
  width: 100%;
}
.c-input input[type=text],
.c-input input[type=number],
.c-input input[type=tel],
.c-input input[type=password],
.c-input input[type=email] {
  border: 1px solid #999;
  border-radius: 4px;
  padding: 10px 12px;
  width: 100%;
  height: 40px;
  font-size: 1.4rem;
  line-height: 1;
  letter-spacing: 0.04rem;
  font-weight: 400;
}
.c-input input[type=text]::-moz-placeholder, .c-input input[type=number]::-moz-placeholder, .c-input input[type=tel]::-moz-placeholder, .c-input input[type=password]::-moz-placeholder, .c-input input[type=email]::-moz-placeholder {
  color: #cacaca;
}
.c-input input[type=text]::placeholder,
.c-input input[type=number]::placeholder,
.c-input input[type=tel]::placeholder,
.c-input input[type=password]::placeholder,
.c-input input[type=email]::placeholder {
  color: #cacaca;
}
.c-input input[type=text]:focus,
.c-input input[type=number]:focus,
.c-input input[type=tel]:focus,
.c-input input[type=password]:focus,
.c-input input[type=email]:focus {
  border-color: #222;
}
.c-input input[type=number] {
  -moz-appearance: textfield;
}
.c-input input[type=number]::-webkit-outer-spin-button, .c-input input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.c-input--min input[type=text],
.c-input--min input[type=number],
.c-input--min input[type=tel],
.c-input--min input[type=password],
.c-input--min input[type=email] {
  width: 150px;
}
.c-input--mid input[type=text],
.c-input--mid input[type=number],
.c-input--mid input[type=tel],
.c-input--mid input[type=password],
.c-input--mid input[type=email] {
  width: 225px;
}
.c-input--date {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
}
.c-input--date input[type=text] {
  width: 150px;
  padding: 10px 37px 10px 12px;
}
.c-input--date svg {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
}
.c-input--dateRange {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
}
.c-input--dateRange input[type=text] {
  width: 225px;
  padding: 10px 37px 10px 12px;
}
.c-input--dateRange svg {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
}
.c-input--num input[type=number] {
  text-align: right;
}
.c-input--text {
  width: -moz-fit-content;
  width: fit-content;
  font-size: 1.2rem;
  line-height: normal;
  letter-spacing: 0.08rem;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 5px;
}
.c-input--text input[type=text],
.c-input--text input[type=number],
.c-input--text input[type=tel],
.c-input--text input[type=password],
.c-input--text input[type=email] {
  width: 225px;
}

.c-textarea {
  width: 100%;
}
.c-textarea textarea {
  display: block;
  border: 1px solid #999;
  border-radius: 4px;
  padding: 10px 12px;
  width: 100%;
  height: 150px;
  font-size: 1.4rem;
  line-height: 1.5714285714;
  letter-spacing: 0.04rem;
  font-weight: 400;
}
.c-textarea textarea::-moz-placeholder {
  color: #cacaca;
}
.c-textarea textarea::placeholder {
  color: #cacaca;
}
.c-textarea textarea:focus {
  border-color: #222;
}

.c-checkbox {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0px 12px;
}
.c-checkbox label {
  cursor: pointer;
  position: relative;
  padding: 9px 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 5px;
  font-size: 1.4rem;
  line-height: 1.5714285714;
  letter-spacing: 0.04rem;
  font-weight: 400;
  transition: all 0.3s ease-out 0s;
}
.c-checkbox label::before {
  content: "";
  display: block;
  width: 22px;
  height: 22px;
  border-radius: 4px;
  border: 1px solid #999;
  transition: all 0.3s ease-out 0s;
}
.c-checkbox label:hover {
  opacity: 0.7;
}
.c-checkbox label input[type=checkbox] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 22px;
  height: 22px;
}
.c-checkbox label input[type=checkbox]::before, .c-checkbox label input[type=checkbox]::after {
  content: "";
  display: block;
  width: 22px;
  height: 1px;
  border-radius: 1px;
  background-color: transparent;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: all 0.3s ease-out 0s;
}
.c-checkbox label input[type=checkbox]::before {
  width: 22px;
  height: 2px;
}
.c-checkbox label input[type=checkbox]::after {
  width: 2px;
  height: 22px;
}
.c-checkbox label input[type=checkbox]:checked::before {
  background-color: #fff;
  width: 15px;
  transform: rotate(-45deg) translate3d(11px, -2px, 2px);
}
.c-checkbox label input[type=checkbox]:checked::after {
  background-color: #fff;
  height: 9px;
  transform: rotate(-40deg) translate3d(6px, 1px, 2px);
}
.c-checkbox label:has(input[type=checkbox]:checked)::before {
  border-color: #027EBF;
  background-color: #027EBF;
}

.c-radio {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0px 12px;
}
.c-radio label {
  cursor: pointer;
  position: relative;
  padding: 9px 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 5px;
  font-size: 1.4rem;
  line-height: 1.5714285714;
  letter-spacing: 0.04rem;
  font-weight: 400;
  transition: all 0.3s ease-out 0s;
}
.c-radio label::before {
  content: "";
  display: block;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  border: 1px solid #999;
  transition: all 0.3s ease-out 0s;
}
.c-radio label:hover {
  opacity: 0.7;
}
.c-radio label input[type=radio] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 22px;
  height: 22px;
}
.c-radio label input[type=radio]::after {
  content: "";
  display: block;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: #027EBF;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: all 0.3s ease-out 0s;
}
.c-radio label input[type=radio]:checked::after {
  transform: translate(-50%, -50%) scale(1);
}
.c-radio label:has(input[type=checkbox]:checked)::before {
  border-color: #027EBF;
}

.c-modal__content {
  display: none;
  border-radius: 5px;
  border: 1px solid #ddd;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.08), 3px 3px 18px rgba(0, 0, 0, 0.02);
  overflow: hidden;
  width: 95%;
  margin: 0 auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 60;
}
.c-modal__head {
  height: 50px;
  background-color: #fff;
  padding: 0 10px;
  border-bottom: 1px solid #eee;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.08), 3px 3px 18px rgba(0, 0, 0, 0.02);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 0px;
}
.c-modal__title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 5px;
  font-size: 1.6rem;
  line-height: 1.125;
  letter-spacing: 0.08rem;
  font-weight: 700;
}
.c-modal__title--delete {
  color: #F04D62;
}
.c-modal__body {
  padding: 20px 10px;
  background-color: #f8f8f8;
}
.c-modal__foot {
  height: 50px;
  background-color: #fff;
  padding: 0 10px;
  border-top: 1px solid #eee;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.08), 3px 3px 18px rgba(0, 0, 0, 0.02);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 5px;
}
.c-modal__bg {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100dvh;
  background-color: rgba(34, 34, 34, 0.1);
  z-index: 50;
  -webkit-backdrop-filter: blur(0.5px);
          backdrop-filter: blur(0.5px);
}

.c-info {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 8px;
}
.c-info__title {
  color: #444;
  font-size: 1.6rem;
  line-height: 1.125;
  letter-spacing: 0.08rem;
  font-weight: 700;
}
.c-info__note {
  color: #999;
  font-size: 1.2rem;
  line-height: 1;
  letter-spacing: 0.08rem;
  font-weight: 400;
}
.c-info--box {
  align-items: flex-end;
  padding: 10px 15px;
  width: 100%;
  background: linear-gradient(80deg, #88DED0, #36ACC5 50%, #027EBF);
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.12), 3px 3px 20px rgba(0, 0, 0, 0.05);
  position: fixed;
  bottom: 70px;
  border-radius: 20px 0 0 0;
  z-index: 1;
}
.c-info--box .c-info__title {
  color: #e2f3fc;
}
.c-info--box .c-info__note {
  color: #f8f8f8;
}

.c-close {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  position: relative;
}
.c-close::before, .c-close::after {
  content: "";
  display: block;
  width: 22px;
  height: 1px;
  background-color: #444;
  border-radius: 1px;
  transform-origin: center;
  position: absolute;
  top: 50%;
  left: 50%;
}
.c-close::before {
  transform: translate(-50%, -50%) rotate(45deg);
}
.c-close::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.c-slide {
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  border-radius: 4px 0 0 4px;
  transition: all 0.3s ease-out 0s;
}
.c-slide button {
  width: 55px;
  height: 100%;
  color: #F04D62;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 0px;
}
.c-slide--delete {
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.92), rgba(255, 247, 247, 0.92) 50%, rgba(255, 239, 241, 0.92));
}
.c-slide.is-show {
  box-shadow: 0 -3px 13px rgba(0, 0, 0, 0.02), 0 -3px 25px rgba(0, 0, 0, 0.08);
  left: calc(100% - 55px);
}
.c-slide.is-delete {
  left: 0;
  border-radius: 0;
}

.c-btnBox {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 15px;
}

.c-select select {
  border: 1px solid #999;
  border-radius: 4px;
  padding: 10px 12px;
  width: 225px;
  height: 40px;
  cursor: pointer;
  font-size: 1.4rem;
  line-height: 1;
  letter-spacing: 0.04rem;
  font-weight: 400;
  background-position: right;
  background-origin: content-box;
}
.c-select select:focus {
  border-color: #222;
}

.c-imgDrop__label {
  position: relative;
  display: block;
  width: 120px;
  height: 160px;
  border-radius: 4px;
  border: 1px solid #999;
}
.c-imgDrop__label.is-hover {
  border-color: #222;
}
.c-imgDrop__file {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.c-imgDrop__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.c-anchor {
  color: #444;
  text-decoration: underline;
  font-size: 1.4rem;
  line-height: normal;
  letter-spacing: 0.04rem;
  font-weight: 400;
}
.c-anchor:hover {
  text-decoration: none;
}

.c-textBox {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 0px;
}
.c-textBox--center {
  align-items: center;
  justify-content: center;
}

/*# sourceMappingURL=style.css.map*/